<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Below is the content of my html page -->


<div class="container">
<br>
<br>

<form>
<div class="row">

<div class="col-sm-1"> <label>Name:</label> </div>
 <div class="col-sm-3"> <input class="form-control" type="text" ng-model="$ctrl.name" ></div>

  </div>
  <br>

    <div class="row">

     <div class="col-sm-1"> <label>Age:</label> </div>
 <div class="col-sm-3"> <input class="form-control" type="number" ng-model="$ctrl.age" ></div>
    </div>
    <br>
    <div class="row">

     <div class="col-sm-1"> <label>Email Id :</label> </div>
 <div class="col-sm-3"> <input class="form-control" type="Email" ng-model="$ctrl.email" ></div>
    </div>
    <div class="row">
    <br>
    <div class="col-sm-2"> </div>
    <input  class="btn btn-sm btn-primary" type="submit" name="Submit" ng-click="$ctrl.submit()">
      
    </div>
  </form>
  <br>
  <div class="col-sm-3"> <input  class="form-control" type="text" name="Search" ng-model="search"  placeholder="Search"> </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
      </tr>
    </thead>

    <tr ng-repeat="x in $ctrl.totalUsersData | filter : search " >
       <td>{{x.name}}</td>
       <td>{{x.age}}</td>
       <td>{{x.email}}</td>
    </tr>  
  </table>


</div>

</div>

